@CHARSET "ISO-8859-1";
.strong{
    font-weight: 700;
}

.container{
	margin-top : 15px;
	width : 85%;
}

/*    ------NAV-----  */ 

.brand-logo{
	margin-left : 10px;
}

nav{
	
	background-color : white;
	border : none;
	box-shadow : none;
}

nav ul a, .nav-wrapper a{
	
	color : black;
}

nav ul a:hover{
	background-color : white;
	color : #82b1ff;
}

nav ul li.active{
	background-color: white;
}

nav ul li.active a{
	color: #82b1ff;
}



/* ------ BODY ------- */

h1{
	font-size : 2em;
}



